<div class="city-input-container">
    <input class="city-input" 
        vs-google-autocomplete
        ng-model="vm.current.fullname"
        vs-city="vm.current.name"
        vs-latitude="vm.current.latitude"
        vs-longitude="vm.current.longitude">
    <button type="button"
        class="btn btn-success city-add-btn"
        ng-click="vm.addCityByInput()">Add</button>
</div>
<div class="city-container">
    <div ng-repeat="city in vm.cityItems track by $index"
        class="city-item">
        {{city.name}} <span ng-click="vm.removeCity($index)"
            class="city-item-x">X</span>
    </div>
</div>
<div class="m-all-sm p-all-sm">
    <button
        id="geo-find-closest"
        type="button"
        class="btn btn-success m-r-lg"
        ng-click="vm.calculateClosest()">Find Closest Pair!</button>
    {{vm.minCityOne}}, {{vm.minCityTwo}}
</div>

