<html>

    <head>
        {% load static %}
        <script src="{% static 'bower/js/bower.js' %}" type="text/javascript"></script>
        <script src="{% static 'app/js/angular.js' %}" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'bower/css/bower.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/app.css' %}">
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    </head>

    <body ng-app="app">
        <resume-top-nav></resume-top-nav>
        <resume-side-nav></resume-side-nav>
        <resume-content></resume-content>
    </body>

</html>