// Generic Colors
$berkeley-blue: #041E41;
$berkeley-yellow: #F6B91C;
$berkeley-light-blue: #51758D;
$berkeley-dark-yellow: #D29329;
$berkeley-rose-garden: #E96A53;
$berkeley-golden-gate: #E51A50;

$dark-blue: #455a64;
$light-blue: #03a9f4;
$light-blue-darken-2: #0288d1;
$light-blue-darken-3: #0277bd;
$light-blue-darken-4: #01579b;
$light-grey-2: #e0e0e0;
$light-teal-1: #26a69a;
$deep-purple-light-1: #7e57c2;
$deep-purple-dark-1: #5e35b1;
$indigo-darken-4: #1a237e;
$indigo: #3f51b5;
$special-color: #37474F;
$stylish-color: #4B515D;
$teal-darken-4: #00695c;
$cyan-darken-4: #00695c;
$teal-accent-4: #00bfa5;
$lime-darken-4: #827717;
$light-green-darken-4: #33691e;
$brown-darken-3: #4e342e;

$body-background: #f3f3f3;