// Generic Colors
$berkeley-blue: #041E41;
$berkeley-yellow: #F6B91C;
$berkeley-light-blue: #51758D;
$berkeley-dark-yellow: #D29329;
$berkeley-rose-garden: #E96A53;
$berkeley-golden-gate: #E51A50;

$dark-blue: #455a64;
$light-grey-2: #e0e0e0;
$light-teal-1: #26a69a;

$body-background: #f3f3f3;