@import '_sizes/base-sizes';

@mixin add-transition($transition) {
    -webkit-transition:$transition;
    -moz-transition:$transition;
    -o-transition:$transition;
    transition:$transition;
}

@mixin add-transform($transform) {
    -webkit-transform: $transform; /* Safari and Chrome */
    -moz-transform: $transform;   /* Firefox */
    -ms-transform: $transform;   /* IE 9 */
    -o-transform: $transform;   /* Opera */
    transform: $transform;
}

$sidenav-transition: all 0.3s ease-in-out;
$menu-icon-transition: all 0.25s ease-in-out;

.hide-side-nav {
    @include add-transition($sidenav-transition);
    position: absolute;
    left: 0;
}

.hide-side-nav.ng-hide {
    left: -$sidenav-width;
}

.slide-content-left-add {
    @include add-transition($sidenav-transition);
}

.slide-content-left {
    position: absolute;
    left: 0px;
    margin: 10px;
    width: calc(100% - 2 * #{$content-margin});
}

.slide-content-right {
    position: absolute;
    left: $sidenav-width;
    margin: $content-margin;
    width: calc(100% - #{$sidenav-width} - 2 * #{$content-margin}) !important;
}

.slide-content-right-add {
    @include add-transition($sidenav-transition);
}

.menu-icon-selected {
    @include add-transition($menu-icon-transition);
    color: orange !important;
    
}

.menu-icon-deselected {
    @include add-transition($menu-icon-transition);
    color: white;
}