@import '_sizes/base-sizes';
@import 'colors';


body {
    background-color: $body-background-color;
}

a {
    cursor: pointer;
}

#content {
    height: calc(100% - #{$topnav-height} - 2 * #{$content-margin});
    overflow: scroll;
    margin: 10px;
    // box-shadow: 0px 3px 5px #888, 0px -3px 5px #888, -3px 0px 5px #888, 3px 0px 5px #888;
}
