@import '_sizes/base-sizes';
@import 'colors';


body {
    background-color: $body-background-color;
    overflow: hidden;
    font-size: 17px;
    // font-family: Verdana, Geneva, sans-serif;
}

a {
    cursor: pointer;
}


