@import '_sizes/base-sizes';
@import 'colors';


body {
    background-color: $grey-lighten-2;
}

a {
    cursor: pointer;
}

#content {
    height: calc(100% - #{$topnav-height});
    overflow: scroll;
    margin: 10px;
    box-shadow: 0px 3px 5px #888, 0px -3px 5px #888, -3px 0px 5px #888, 3px 0px 5px #888;
}
