@import 'colors';

#cal-img-outline {
    width: 100%;
    padding-top: 0px !important;
    margin-top: 0px !important;
}

#cal-img {
    min-width: 100%;
    max-width: 100%;
}

#education-graduated {
    margin-bottom: 0px !important;
    color: $stylish-color;
}

@mixin education-box($primary, $secondary, $text, $course, $weight) {
    background-color: $primary !important;
    font-weight: $weight;
    h2 {
        color: $text;
    }
    .course {
        h4 {
            font-weight: 900;
            color: $secondary;
            small {
                font-weight: 900;
                color: $course;
            }
        }
        blockquote {
            color: $text;
            border-left: 5px solid $text;
            strong {
                font-weight: 900;
                color: $secondary;
            }
        }
    }
}

.education-box-primary {
    @include education-box($blue-grey-lighten-5, $lime-darken-4, $berkeley-blue, $lime-darken-4, normal);
    box-shadow: 0px 5px 5px #888, 0px -5px 5px #888;
}

.education-box-secondary {
    @include education-box($berkeley-yellow, $light-blue-darken-4, $berkeley-blue, $light-blue-darken-4, bold);
    box-shadow: 0px 5px 5px #888, 0px -5px 5px #888;

}