@import 'colors';

ul.no-dot {
  li {
    list-style-type: none;
  }
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.sref-dark {
  cursor: pointer;
  color: $mdb-color;
  text-decoration: none;
}

.sref-dark:hover {
  color: $elegant-color;
}

.sref-light {
  cursor: pointer;
  color: $mdb-color-lighten-3;
  text-decoration: none;
}

.sref-light:hover {
  color: $mdb-color-lighten-1;
}

.sref-light {
  cursor: pointer;
  color: $mdb-color-lighten-3;
  text-decoration: none;
}

.full-width {
  position: relative;
  width: 100%;
}

.fill-width {
    min-width: 100%;
    max-width: 100%;
}

blockquote.remove-line {
    border-left: none !important;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

div.horizontal-line-bottom {
  position: absolute;
  overflow: visible;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  background-color: $grey-lighten-1;
  height: 6px;
  width: 150%;
}

div.horizontal-line-top {
  position: absolute;
  overflow: visible;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  background-color: white;
  height: 10px;
  width: 200%;
}

.clear-both {
  clear: both !important;
}

.clear-right {
  clear: right !important;
}

.no-border-radius {
    border-radius: 0px !important;
}

.remove-bottom-margin {
    margin-bottom: 0px !important;
}

.remove-top-margin {
    margin-top: 0px !important;
}

.break-word {
  word-wrap: break-word;
}