@import 'colors';

.dark-blue {
    color: $dark-blue;
}

blockquote.remove-line {
    border-left: none !important;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  display: block;
  overflow: auto;
}

div.horizontal-line-bottom {
  position: absolute;
  overflow: visible;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  background-color: $grey-lighten-1;
  height: 6px;
  width: 150%;
}

div.horizontal-line-top {
  position: absolute;
  overflow: visible;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  background-color: white;
  height: 10px;
  width: 200%;
}

.no-border-radius {
    border-radius: 0px !important;
}

.remove-bottom-margin {
    margin-bottom: 0px !important;
}

.remove-top-margin {
    margin-top: 0px !important;
}

.resume-box {
    box-shadow: 0px 10px 5px #888, 0px -10px 5px #888;
    background-color: white;
}

.resume-box-light {
    position: relative;
    box-shadow: 0px 3px 5px #888, 0px -3px 5px #888, -3px 0px 5px #888, 3px 0px 5px #888;
    background-color: white;
}

.resume-box, .resume-box-light {
  ul {
    padding-left: 10px !important;
  }
  blockquote {
    font-size: 11.6px;
  }
}