$resume-box-color: #455a64;

#resume-box-outline {
    border: 1px solid $resume-box-color;
    position: relative;
    width: 100%;
    height: auto;
    overflow: none;
}

#resume-box-header {
    border-bottom: 1px solid $resume-box-color; 
    position: relative;
    height: 30px;
    background: $resume-box-color;
    width: 100%;
}