@import '_sizes/base-sizes';
@import 'colors';

$nav-item-color: $elegant-color;
$side-nav-background-color: $elegant-color;
$photo-size: 100px;

@mixin create-sidenav($width) {
    position: absolute;
    float: left;
    width: $width;
    background-color: $elegant-color;
    border-right: 1px solid $elegant-color;
    box-shadow: 1px 0px 1em #333;
    height: 100%;
    z-index: 99999;
    overflow: scroll !important;
    -webkit-overflow-scrolling: touch !important;

}

#sidenav {
    @include create-sidenav($sidenav-width-lg);
}

@media (max-width: $sidenav-max-media) {
    #sidenav {
        @include create-sidenav($sidenav-width-sm);
    }
}

#nav-group {
    margin-bottom: 0px !important;
}

#panel-head {
    position: relative;
    margin: 20px 10px 0px;
    img {
        border-radius: 50%;
        min-height: $photo-size;
        min-width: $photo-size;
        max-height: $photo-size;
        max-width: $photo-size;
    }
    h4 {
        position: relative;
        padding: 10px 10px 10px;
        margin: 0px;
    }
}

.nav-item {
    cursor: pointer !important;
    border: 0px solid $nav-item-color !important;
    background-color: $nav-item-color;
    color: white !important;
    font-size: 17px;
}

.nav-item:hover {
    color: $elegant-color !important;
}

#sidenav-header {
    color: grey;
}