@import "mixins";

#track-revenue-work-image {
    border-radius: 10%;
}

#college-track-work-image {
    border-radius: 50%;
}

#lbnl-work-image {
    border-radius: 10%;
}

.work-image {
    @include img-dimensions(100px, 100px);
    // border-radius: 10%;
    float: left;
    clear: both;
}
