Django==1.9.7
Flask==0.10.1
Flask-Cors==2.1.2
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
gunicorn
Jinja2==2.8
MarkupSafe==0.23
MySQL-python==1.2.5
SQLAlchemy==1.0.12
Twisted==14.0.2
WTForms==2.1
Werkzeug==0.11.4
ansicolors==1.0.2
configparser==3.5.0
django-gulp==2.5.0
env-tools==2.0.0
futures==3.0.5
itsdangerous==0.24
psutil==4.3.0
pymongo==3.2.2
six==1.10.0
tini==3.0.1
virtualenv==15.0.3
wheel==0.29.0
wsgiref==0.1.2
zope.interface==4.1.1
