<div id="topnav">
    <div class="col-xs-4 pull-right vertical-center">
        <span id="menu-icon"
            class="p-xs-r pull-right glyphicon glyphicon-menu-hamburger font-size-sm"
            ng-class="{'menu-icon-selected': vm.navOpen, 'menu-icon-deselected': !vm.navOpen}"
            ng-click="vm.onMenuClicked()">    
        </span>
        <div class="col-xs-8 col-sm-6 pull-right">
            <span class="pull-right p-t-xxxs" style="color:white;"> Item 1 </span> 
        </div>
    </div>
</div>