<div id="topnav">
    <span id="menu-icon"
        class="p-all-md pull-right glyphicon glyphicon-menu-hamburger font-size-lg"
        ng-class="{'menu-icon-selected': vm.navOpen, 'menu-icon-deselected': !vm.navOpen}"
        ng-click="vm.onMenuClicked()">    
    </span>
    <div id="downloads"
        class="pull-right p-r-md text-center">
        <span> Downloads </span>
        <div id="downloads-dropdown"
            >
            <div ng-click="vm.onDownloadResumeClicked()"> Resume.png </div>
        </div> 
    </div>
</div>